body{
background-color: gray ;
padding: 0;
margin :0;
}


header{
display: flex;
box-sizing: border-box;
padding: 20px 10px;
}

.navbar{
display: flexbox;
display: flex;
  background-color: #f333;
border: solid ;
border-width: 10px ;
font-family: 'sanserif' , cursive;
text-align:center;
flex-wrap: wrap;


}

.navbar a{
display: flex;
padding: 20px 10px;
text-align: right;
text-decoration: none;
font-size: 30px;
position: relative;
left: 50%;
flex-wrap: wrap;
}
p{
border: solid;
margin: 10px;
border-size: 15px;
border-width: 2px 3px;
flex-wrap: wrap;
}

h2{
text-decoration: none;
border: solid;
margin: 20px;
border-size: 15px;
border-width: 2px 3px;
row:35%
flex-wrap: wrap;
}


 .h3{
border-width: 20px;
border-radius: 5em;
}

th{
border: solid;
font-size: 20px;
width: 50px;
padding: 100px  200px;
}


.row {  
display: flex;
display: flexbox;
 flex-wrap: wrap;
}

